<h2>Equipment</h2>
<div id="equip">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Equipable Location</th>
                <th scope="col">Weight</th>
                <th scope="col">Material</th>
                <th scope="col">Level</th>
                <th scope="col">Enchantment</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
                <tr>
                    <td>{{this.equipId}}</td>
                    <td>{{this.equipName}}</td>
                    <td>{{this.equipLocation}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.material}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.equipEnchant}}</td>
                    <td>{{> buttonCluster}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>