<div class="container-fluid">
    <h2>View Tools</h2>
    <div class="clearfix">
        <a role="button" class="btn btn-primary float-start" href="/tool/add">Add Tool</a>
        <a role="button" class="btn btn-primary float-end" aria-label="Search"><i data-feather="search"></i>Search</a>
    </div>
    <div id="tools" class="table-responsive mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Material</th>
                    <th scope="col">Level</th>
                    <th scope="col">Enchantment</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.toolName}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.material}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.enchantName}}</td>
                        <td>{{> buttonCluster uid=this.toolId fname=this.toolName lname=''}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="offcanvas offcanvas-top h-50" tabindex="-1" id="editRow" aria-labelledby="editRowLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="editRowLabel">Edit Tool</h3>
        </div>
        <div class="offcanvas-body">
            <div id="editRowForm">
                <form id="addTool" class="container-sm needs-validation">
                    <div class="row mb-3 justify-content-left">
                        <div class="col-2">
                            <input type="text" class="form-control" placeholder="Name" id="name" aria-label="Name" required aria-required="true">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" placeholder="type" id="typ" aria-label="Type">
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-left">
                        <div class="col-2">
                            <input type="text" class="form-control" placeholder="Material" id="mat" aria-label="Material">
                        </div>
                        <div class="col-2">
                            <input type="number" class="form-control" placeholder="Level" id="lvl" aria-label="Level">
                        </div>
                        <div class="col-3">
                            <label for="enchantSelect" class="form-label">Enchantment:</label>
                            <select class="form-select" aria-label="Select Enchantment" id="enchantSelect"></select>
                        </div>
                    </div>
                    <div class="row justify-content-left">
                        <div class="col-4">
                            <button type="submit" id="submitTool" class="btn btn-primary">Edit Tool</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix">
                <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="offcanvas" data-bs-target="editRow" aria-label="Cancel">Cancel</a> 
            </div>
        </div>
    </div>

     <div class="modal fade" id="deleteVerify" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="equipCheck" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="container-fluid">
                        <div id="delMessage"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var delModal = document.getElementById('deleteVerify');

    var delButton = delModal.getElementsByClassName("modal-footer")[0].children[0];

    delButton.addEventListener('click', function(e) {
        let uid = delButton.id;

        {{!-- var req = new XMLHttpRequest();

        req.open('DELETE', '/api/char?id=' + params[0]); --}}
        console.log("Click! " + uid);
    });

    delModal.addEventListener('show.bs.modal', function(event) {
        let params = event.relatedTarget.id.split('_');

        delButton.setAttribute('id', params[0]);

        var message = document.createElement('h3');
        message.innerText = 'You are about to delete ' + params[1] + ' from the database!';

        document.getElementById('delMessage').append(message);
    });

    delModal.addEventListener('hidden.bs.modal', function (event) {
        delButton.setAttribute('id', '');
        document.getElementById('delMessage').firstChild.remove();
    });

    var editOffcanvas = document.getElementById('editRow');

    editOffcanvas.addEventListener('show.bs.offcanvas', function(event) {

        let row = event.relatedTarget.parentNode.parentNode;
        let enchantSelect = document.getElementById('enchantSelect');
        var req = new XMLHttpRequest();

        req.open("GET", '/api/enchant');
        req.setRequestHeader('Accept', 'application/json; charset=utf-8');
        req.send(null);

        req.addEventListener('load', function(event) {
            let enchantment = JSON.parse(req.responseText);

            enchantment.enchants.forEach(enchant => {
                let enchantOpt = document.createElement('option');

                enchantOpt.value = enchant.enchantId;
                enchantOpt.innerText = enchant.enchantName;

                if (enchant.enchantName == row.children[5].innerText) enchantOpt.selected = true;

                enchantSelect.add(enchantOpt, null);
            });
        });

        let name = document.getElementById('name');
        let typ = document.getElementById('typ');
        let mat = document.getElementById('mat');
        let lvl = document.getElementById('lvl');

        name.value = row.children[0].innerText;
        typ.value = row.children[1].innerText;
        mat.value = row.children[3].innerText;
        lvl.value = row.children[4].innerText;

    });
</script>