<div class="container-fluid">
    <h2>View Tools</h2>
    <div class="container-fluid">
        <a role="button" class="btn btn-primary" href="/tool/add">Add Tool</a>
    </div>
    <div id="tools" class="table-responsive mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Material</th>
                    <th scope="col">Level</th>
                    <th scope="col">Enchantment</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.toolName}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.material}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.toolEnchant}}</td>
                        <td>{{> buttonCluster uid=this.charaId}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>